h1, h2,h3,h4,h5 {
  text-transform: uppercase;
}

.uniek-product-image {
  padding:10px;
}

.spacesmall {
  margin-top: @line-height-computed;
}
.space {
  margin-top: ceil(2*@line-height-computed);
}
.spacelarge {
  margin-top: ceil(4*@line-height-computed);
}

.unieke-afbeelding {
  padding:10px;
  text-align: center;
}
.unieke-afbeelding img {
  width:90%;
}