h1, h2,h3,h4,h5 {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, .5);
}

.text-secundairy {
  color: @brand-secundiary;
}

.uniek-product-image {
  padding:10px;
}

.spacesmall {
  margin-top: @line-height-computed;
}

.space {
  margin-top: ceil(2 * @line-height-computed);
}

.spacelarge {
  margin-top: ceil(4 * @line-height-computed);
}

.unieke-afbeelding {
  padding: 10px;
  text-align: center;
}

.unieke-afbeelding img {
  width: 90%;
}

.unieke-voeter {
  border-top: 3px solid @brand-secundiary;
  border-bottom: 3px solid @gray-dark;
}

.unieke-voeter h4 i {
  color: @gray-darker;
}

.unieke-voordelen {
  background-color: @gray;
}

.unieke-links {
  background-color: @gray-light;
}

.uniek-pagina-einde {
  padding:5px;
  background-color: @gray-darker;
}

.uniek-pagina-einde img {
  width: 30px;
}

.unieke-pagina-opleuk {
  height: 3px;
  background-color: @brand-secundiary;
}

.badge-primary {
  background-color: @brand-primary;
}

body {
  background: @gray-lighter url(/images/bg.jpg) repeat fixed;
}

.navbar-default {
  background-color: transparent;
}

.unieke-navigatie {
  background-color: @gray-light;
}